bk-color = #316599

body
	background-color #fff
	padding 0

header
	figure, nav
		display inline-block
		vertical-align middle
		height 100%
	figure
		background-color #ecf0f1
		width 25%
	nav
		margin-left 15px
		width 70%
		ul
			height 100%
			li
				display inline-block
				height 100%
				margin-left 10px
				margin-right 15px
				padding 20px
				vertical-align top
				-webkit-transition all .3s ease-in-out
				-moz-transition all .3s ease-in-out
				-o-transition all .3s ease-in-out
				transition all .3s ease-in-out

				a
					color #fff
					font-size 18px
					font-family 'Montserrat', 'Arial'
				a:hover
					color #fff
					text-decoration none

			li:hover
				background-color bk-color
				cursor pointer
				-webkit-transition all .3s ease-in-out
			    -moz-transition all .3s ease-in-out
			    -o-transition all .3s ease-in-out
			    transition all .3s ease-in-out

.fixed
	width 100%
	position fixed
	top 0
	left 1px
	z-index 9999

.page-welcome
	width 100%
	height 100%

#page-welcome
	height 100%

#page-how-works, #page-types, #page-faqs, #page-contact
	height 100%
#page-how-works
	background-color transparent
#page-types
	background-color transparent
#page-faqs
	background-color transparent
#page-contact
	background-color transparent
