section.pages.belize-bg.white.page-contact.registro
		div.container
			header
				div.close-portfolio.pull-right
					span cerrar
					div.clearfix
				//-h4.line-divider.white Registro de Empresas
				h2 Anúnciate con nosotros
				
			article
				div.row-fluid
					div.span6
						h5 Déjanos un mensaje

						form
							input.span12(type='text',placeholder='Título del mensaje', required='required', id='txtTitle2', name='txtTile2')
							input.span12(type='email',placeholder='Título del mensaje', required='required', id='txtEmail2', name='txtEmail2')
							textarea.span12(rows='10', id='txtMessage2', name='txtMessage2', placeholder='Mensaje', required='required')
							button.btn.btn-success.btn-large(type='submit', id='btnRegistroUsuario') Enviar Mensaje

					div.span5.offset1
						h5 Conócenos
						div.media
							div.social-icons.sicon-white.pull-left
								a.sicon-phone(href='#')
									i Phone
							div.media-body.smallFontBy08
								p teléfono de contacto
						div.media
							div.social-icons.sicon-white.pull-left
								a.sicon-place(href='#')
									i Location
							div.media-body.smallFontBy08
								p Dirección a donde pueden llegar
						div.media
							div.social-icons.sicon-white.pull-left
								a.sicon-mail(href='#')
									i Location
							div.media-body.smallFontBy08
								p email@printoo.mx
						br 
						br
						br 
						br 
						div.social-icons.sicon-white.bordered
							a.sicon-facebook(href='#')
								i Facebook
							a.sicon-twitter(href='#')
								i Twitter
							a.sicon-linkedin(href='#')
								i LinkedIn
							a.sicon-youtube(href='#')
								i Youtube
							a.sicon-pinterest(href='#')
								i Pinterest