extends layout

block content
	nav#navigation.fixed-top
		div.container
			div.row-fluid
				div.span12.center
					a.brand.pull-left(href='./')
						img(src='/img/assets/printoo-beta.png', alt='Printoo', width='143')
					div.mobile-menu(data-toggle='collapse',data-target='.nav-collapse')
						span.icon-bar
						span.icon-bar
						span.icon-bar
					ul#main-menu.nav-collapse.collapse
						li
							a(href='#page-how-works') como funciona
						li
							a(href='#registro') registro
						li
							a(href='#contact') Contacto

	section#page-welcome.pages.paralax.page-welcome
		//--div.overlay
		div(style='width:100%; height:100%')
			section#info-portada
				div#content-info
					figure
						img(src='/img/portada/emblema.png')
					div#texto-info
						p.texto-info
							| Manda a imprimir desde tu celular <br/> las fotos de
						ul.slides
							li
								p.options-info tus hijos
							li
								p.options-info la fiesta
							li
								p.options-info tu mascota
							li
								p.options-info el viaje
							li
								p.options-info tu novio
							li
								p.options-info tu novia
							li
								p.options-info tus vacaciones
							li
								p.options-info Facebook
							li
								p.options-info Instagram
							li
								p.options-info tu celular
							li
								p.options-info tu graduación
							li
								p.options-info la boda
						p.texto-info
							| ¿Te gustaría imprimir tus fotos, pero <br/> sólo con pensar en ir y esperar <br/> terminas por nunca hacerlo?

			section#fotos-portada
				div.foto1
					figure
						img(src='/img/portada/baby.png')
				div.foto2
					figure
						img(src='/img/portada/landscapefinal.jpg')
				div.foto3
					figure
						img(src='/img/portada/crowdcool.jpg')
				div.foto4
					figure
						img(src='/img/portada/dogtoy.JPG')

	section#page-how-works.page-work(style='height:85%')
		div.container
			header
				h4 ¿Cómo funciona?
				p.texto 
					strong
						| Printoo 
					| te ayuda a decirle adiós a la frustración de ir a imprimir o intentar imprimir tus fotos con una impresora casera.

			article
				ul.thumbnails.plugin-filter-elements.portfolio-items
					li.span4.branding.mix
						a.seleccion
							//--img(src='/img/funciona/selecciona.png' alt='selecciona tus fotos')

						h5 1 - Selecciona

						p.texto
							| Escoge desde cualquier <br> dispositivo y de cualquier <br> red social 5, 10 ó 20 de tus fotos.


					li.span4.branding.mix
						a.regalar
							//--img(src='/img/funciona/recibela.png' alt='recibe tus fotos')

						h5 2 - Recíbelas

						p.texto
							| Recíbelas o envíalas como <br> regalo a cualquier ciudad <br> dentro de México.							

					li.span4.branding.mix
						a.recibir
							//--img(src='/img/funciona/gratis.png' alt='Gratis')

						h5 3 - ¡Gratis!

						p.texto
							| No pagas nada porque tus fotos <br> tienen publicidad no inmasiva <br> en la parte trasera.
	div.separate			
	section#registro.pages.white.paralax.page-features(style='height:auto; padding-bottom:65px')
		//--div.overlay
		div.container
			header
				h4 Registro
				//--div.row
					div.span8.offset2
						p Cheesecake sweet bonbon pie. Caramels marshmallow biscuit bear claw jelly beans. Jelly beans jelly cupcake muffin marzipan caramels candy canes gummi bears croissant. Jelly-o wafer cheesecake tootsie roll.
			article
				div.row-fluid
					div.span6
						div.span10.offset1
							h4.span6 Hola, <br/> bienvenido.
							div.span6.flecha

					div.span11
						form.form-horizontal(method='POST', action='/registro/usuario', name='user_register_form')#user_register_form
							div.span6(style='background-color:transparent;')
								div.control-group
									label.label_form.control-label Me llamo:
									div.controls
										input.span10(type='text',required='required', id='txtNombre', name='txtNombre')
								div.control-group
									label.label_form.control-label Mi correo:
									div.controls
										input.span10(type='email',required='required', id='txtEmail', name='txtEmail')
								div.control-group
									label.label_form.control-label Mi contraseña:
									div.controls
										input.span10(type='password', required='required', id='txtPassword', name='txtPassword')
								div.control-group
									label.label_form.control-label Soy:
									div.controls
										div.usuario-options
											input(type='hidden', id='txtGeneroUsuario', name='txtGeneroUsuario', value="0")
											ul 
												li.hombre(onclick='userOptions(txtGeneroUsuario,"H")')
													//--img.img-circle(src='/img/circles/hombre.png', onclick='userOptions(txtGeneroUsuario,"H")')
												li.mujer(onclick='userOptions(txtGeneroUsuario,"M")')
													//--img.img-circle(src='/img/circles/mujer.png', onclick='userOptions(txtGeneroUsuario,"M")')
												li.gay(onclick='userOptions(txtGeneroUsuario,"G")')
													//--img.img-circle(src='/img/circles/gay.png', onclick='userOptions(txtGeneroUsuario,"G")')										
								div.control-group
									label.label_form.control-label Vivo en:
									div.controls
										input.span10(type='text', required='required', id='txtCiudad', name='txtCiudad')
							div.span6
								div.control-group
									label.label_form.control-label Estado:
									div.controls
										div.usuario-options
											input(type='hidden', id='txtCiudadUsuario', name='txtCiudadUsuario', value="0")
											ul 
												li.mty(onclick='userOptions(txtCiudadUsuario,"2")')
													//--img.img-circle(src='/img/circles/df.png', onclick='userOptions(txtCiudadUsuario,"2")')
												li.gdl(onclick='userOptions(txtCiudadUsuario,"4")')
													//--img.img-circle(src='/img/circles/gdl.png', onclick='userOptions(txtCiudadUsuario,"4")')
												li.df(onclick='userOptions(txtCiudadUsuario,"1")')
													//--img.img-circle(src='/img/circles/mty.png', onclick='userOptions(txtCiudadUsuario,"1")')
												li.pue(onclick='userOptions(txtCiudadUsuario,"3")')
													//--img.img-circle(src='/img/circles/pue.png', onclick='userOptions(txtCiudadUsuario,"3")')
								div.control-group
									label.label_form.control-label Otro:
									div.controls
										select.span7(id='cmbOtros', name='cmbOtros')
											option(value='0', selected='selected') -- Otros --
								div.control-group
									label.label_form.control-label Cumplo años el:
									div.controls
										select.span3(name='cmbDia', style='margin-right:10px')
											option(value='0', selected='selected') Día
											each day in days
												option(value=day.value)= day.value
										select.span5(name='cmbMes', style='margin-right:10px')
											option(value='0', selected='selected') Mes
											each month in months
												option(value=month.id)= month.month
										input.span3(name='txtAnio',placeholder='Año', onkeypress='Numeros(this);', style='vertical-align:top')
								div.span12(style='margin-top:20px')
									a.offset6.submit(href='#')
										img(src='/img/registro/registrar.png')
									//--button.btn.btn-info.offset8(type='submit', id='btnRegistroUsuario', style="margin-right:20px") Registrarme

	section#pages-clients.pages.page-clients(style='height:auto')
		div.container.center
			div.row-fluid
				ul.slides
					li
						p.testimonio.span12
							| “Mis mejores momentos toman un nuevo sentido. ¡Fascinante!” 
							span.usuario-test  Miguel Ramirez, CEO y Co-founder 
							a.enlace-test(href='http://www.claseteca.com/', target='_blank') Claseteca.com

					//--li
						p.testimonio.span12
							| “Si hubiera existido Printoo en mis últimas vacaciones me hubiera ahorrado las postales que compré y que nunca envíe.”  
							span.usuario-test  Rudy Laddaga CEO y Co-founder  
							a.enlace-test(href='http://www.favoritoys.com/en/', target='_blank') Favoritoys

					//--li
						p.testimonio.span12
							| “¡Una propuesta tan sencilla y fácil de usar como uPrintoo hacía falta!”   
							span.usuario-test  Jorge Camargo Founder  
							a.enlace-test(href='http://www.elcowork.com/', target='_blank')  El Cowork

					li
						p.testimonio.span12
							| “¡Lo que Kodak nunca hizo!”   
							a.enlace-test(href='https://twitter.com/Musequisamuse', target='_blank') Jessica Gonzalez 
							span.usuario-test Innovator developer y founder  
							a.enlace-test(href='http://www.innomobs.com', target='_blank') Innomobs

	section#contact.pages.page-contact(style='height:auto')
		div.container
			article
				div.row-fluid
					div.span3
						figure.span12(style='margin-top: 20%')
							img(src='/img/contacto/logo.png', alt='Printoo', title='Printoo')
						p.span12.center.copy-right © 
							small Todos los Derechos Reservados
					div.span3
						div.span12
							p.pub-marca.center ¿Eres un marca y te interesa <br/> nuestra publicidad? ¿Quieres <br/> darnos tu opinión o saber más?
						div.span12
							table
								tr
									td
										figure.span12
											img(src='/img/contacto/Mail.png', alt='Printoo mail', title='Printoo mail')
									td
										h5.span12 WE LOVE MAIL!
										p.correo.span12 hola@printoo.me
					div.span3
						h5.span12.center SOMOS SOCIALES
						div#social-contact.social-printoo.center
							ul
								li
									a(href='#')
										img(src='/img/contacto/facebook.png')
								li
									a(href='#')
										img(src='/img/contacto/twitter.png')
						div.span12
							h6.span12.center POLÍTICA DE PRIVACIDAD
							p.politica.span12 Además de nuestra política de privacidad, en Üprintoo creemos en que México puede ser diferente; nosotros apotamos al cambio NO siendo corruptos, haciendo las cosas bien hechas y aspiramos a ser mejores cada día.
					div.span3(style='margin-top: 4%')
						h4.span12 CONTÁCTANOS
						p.contact.sapn12 Nos gusta saber sobre nuestros clientes, queresmos escuchar tus sugerencias y comentarios, no dudes en contáctarnos.
					//--div.span8
						div#social-contact.social-printoo(style="margin-top: 25px")
							ul
								li
									a.printoo-apple(href='#')
								li
									a.printoo-facebook(href='#')
								li
									a.printoo-instagram(href='#')
								li
									a.printoo-youtube(href='#')
								li
									a.printoo-twitter(href='#')
								li
									a.printoo-pinterest(href='#')
								li
									a.printoo-vimeo(href='#')
		//--div#map-image
			img(src='/img/assets/pages/contact/map_bck.jpg', alt='Printoo')

	//--section.copy-right.center
		p © 
			small 2014 Printoo Todos los Derechos Reservados


block scripts
	script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
	script(type='text/javascript', src='/js/vendors/jquery.min.js')
	script(type='text/javascript', src='/js/vendors/bootstrap.min.js')
	script(type='text/javascript', src='/js/vendors/jquery.bxslider.js')
	script(type='text/javascript', src='/js/vendors/jquery.centralized.min.js')
	script(type='text/javascript', src='/js/vendors/jquery.fixedonlater.min.js')
	script(type='text/javascript', src='/js/vendors/jquery.hashloader.min.js')
	script(type='text/javascript', src='/js/vendors/jquery.mixitup.min.js')
	script(type='text/javascript', src='/js/vendors/jquery.nav.min.js')
	script(type='text/javascript', src='/js/vendors/jquery.parallax-1.1.3.min.js')
	script(type='text/javascript', src='/js/vendors/jquery.responsivevideos.min.js')
	script(type='text/javascript', src='/js/vendors/jquery.scrollTo.min.js')
	script(type='text/javascript', src='/js/application.js')
