section.pages.register.black.page-contact.registro.paralax
		div.container
			header
				div.close-portfolio.pull-right
					span X
					div.clearfix
				//-h4.line-divider.white Registro de Usuarios
				p.div-title Comparte con nosotros!!
				
			article
				div.row-fluid
					div.span6.cls-form
						h5.center.title-form Registrate
						form.offset1(method='POST')#user_register_form
							label.label_form Nombre
							input.span10(type='text',required='required', id='txtNombre', name='txtNombre')
							
							label.label_form Correo Electrónico
							input.span10(type='email',required='required', id='txtEmail', name='txtEmail')
							
							label.label_form Contraseña
							input.span10(type='password', required='required', id='txtPassword', name='txtPassword')

							label.label_form Sexo
							select.span4(id='cmbSexo', name='cmbSexo')
								option(value='0', selected='selected') -- Seleccione -- 
								option(value='H') Hombre 
								option(value='M') Mujer
								option(value='G') Gay
							
							label.label_form Ciudad
							select.span4(id='cmbCiudad', name='cmbCiudad')
								option(value='0', selected='selected') -- Seleccione --
								each item in cities
									option( value=item.id )= item.city

							label Fecha de Nacimiento
							select.span2(name='cmbDia', style='margin-right:10px')
								option(value='0', selected='selected') Día
								each day in days
									option(value=day.value)= day.value

							select.span3(name='cmbMes', style='margin-right:10px')
								option(value='0', selected='selected') Mes
								each month in months
									option(value=month.id)= month.month
							input.span3(name='txtAnio',placeholder='Año', onkeypress='Numeros(this);', style='vertical-align:top')
							div.span12(style='margin-top:20px')
								button.btn.btn-info.offset1(type='submit', id='btnRegistroUsuario', style="margin-right:20px") Registrarme
								button.btn.btn-danger(type='submit', id='btnCancelarRegistro') Cancelar


					div.span5.offset1.cls-form
						h5.center.title-form Ingresar
						form.offset1(method='POST')#user_login_form
							
							label.label_form Correo Electrónico
							input.span10(type='email',required='required', id='txtLoginEmail', name='txtLoginEmail')
							
							label.label_form Contraseña
							input.span10(type='password', required='required', id='txtLoginPassword', name='txtLoginPassword')

							div.span12(style='margin-top:20px')
								button.btn.btn-info.offset1(type='submit', id='btnLoginUsuario', style="margin-right:20px") Ingresar
								button.btn.btn-danger(type='submit', id='btnCancelarLogin') Cancelar